*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; // box-sizing: inherit; -> for plugins and other components, default setting is body's box-sizing 
}

html {
    font-size: 10px; // https://devlog.jwgo.kr/2019/01/16/why-we-use-625p-instead-of-10px/
}

body {
    box-sizing: border-box;
    /* default box-sizing */}
